body{
  padding: 100px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  background: rgb(61,85,80);
  background: radial-gradient(circle, rgba(61,85,80,1) 0%, rgba(0,212,255,1) 100%);
}


h1 {
  color: black;
  text-align: center;
  justify-content: center;
}

.flex-container {
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px;
  margin: auto;
  /* margin-top: 90px; */
  width: 400px;
  height: 300px;
  background-color: whitesmoke;
  justify-content: center;
}

.game--container {
  
  display: grid;
  width: 150px;
  margin: 120px;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 45px;
}

.cell{
  width: 70px;
  height: 70px;
  border: 1px solid black;
  line-height: 50px;
  font-size: 50px;
  /* justify-content: center; */
  /* align-items: center; */
}


