body{
  padding: 100px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

h1 {
  color: black;
  text-align: center;
}


#gameboard {
  /* height: 500px; */
  width: 400px;
  /* border-collapse: collapse; */
  /* margin: 0 auto; */
  /* background-color: white; */
}

td {
  width: 430px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid black;
  align-items: center;
  justify-content: center;
}

